#activity-form {
    margin: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    text-align: left;
    gap: 15px;
    font-size: 1em;
    background-color: #fff3f1;
    border-radius: 10px;
    padding: 10px;
    width:70vw;
    position: relative;
}

h2 {
    align-self: center;
}

#submit-button {
    align-self: center;
    background-color: #fff3f1;
    border-width: 1px;
    border-color: #213547;
    text-align:center;
}

#name {
    border-radius: 5px;
    border-color:#213547;
    border-bottom-style: solid;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    height: 20px;
    width: 60vw;
    border-width: 1px;
    background-color:#fff3f1;
    align-self: center;
}

#isForGoodWeather-label, #isForGoodWeather {
    flex: 1;
}

#isForGoodWeather {
    width: 20px;
    position: absolute;
    top: 160px;
    right: 28px;

}

#emojis-input {
    width:40px;
    position: absolute;
    top: 191px;
    right: 28px;
}
